* {
  border: 1px solid blue;
  padding: 0px;
  margin: 0px;
}
body {
  background: url(../bg.png);
  font-family: "Times New Roman", Times, serif;
  margin: 0px auto;
  padding: 0px;
  max-width: 960px;
}
nav {
  background-color: #ecdeed;
  list-style: none;
  display: flex;
  align-items: center;
  height: 40px;
}

nav li {
  list-style: none;
  line-height: 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0px 5px 0px;
  text-align: center;
}

nav a {
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
footer {
  background-color: #cbcc66;
  display: flex;
  justify-content: space-between;
}
.other-info {
  align-self: flex-end;
}
section {
  width: 70%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
}
section p,
section form {
  padding: 10px;
  width: 50%;
}
aside {
  background-color: white;
  width: 30%;
  text-align: center;
  color: red;
  border-style: inset;
}
container:after {
  content: "";
  display: table;
  clear: both;
}
container h1 {
  text-align: center;
  color: red;
}
nav ul {
  width: 70%;
}
.search {
  width: 30%;
  color: red;
  font-weight: bold;
  justify-content: right;
}
.search button {
  background-color: blue;
  color: white;
}
container,
article {
  display: flex;
  flex-direction: row;
}
