* {
  padding: 0px;
  margin: 0px;
}
body {
  background: url(../bg.png);
  font-family: "Times New Roman", Times, serif;
  margin: 0px auto;
  padding: 0px;
  max-width: 960px;
}
nav {
  background-color: #ecdeed;
  list-style: none;
  display: flex;
  align-items: center;
  height: 40px;
}

nav li {
  list-style: none;
  line-height: 50px;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 0px 5px 0px;
  text-align: center;
}

nav a {
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
footer {
  background-color: #cbcc66;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 1em;
}
.other-info {
  align-self: flex-end;
}
section {
  width: 70%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #3f87a6);
}
section h1 {
  padding: 1em;
}
section p,
section form {
  width: 50%;
}
section p {
  padding: 1em;
}
section form {
}
aside {
  background-color: white;
  width: 30%;
  text-align: center;
  color: red;
  border-style: inset;
}

container h1 {
  text-align: center;
  color: red;
}
nav ul {
  width: 70%;
}
.search {
  width: 30%;
  color: red;
  font-weight: bold;
  justify-content: right;
}
.search button {
  background-color: blue;
  color: white;
}
container,
article {
  display: flex;
  flex-direction: row;
}
form input[type="text"] {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border-style: outset;
  border-width: 2px;
}
fieldset {
  padding: 10px;
  margin: 0em 1em 0em 1em;
  border-width: 2px;
  border-style: inset;
  height: 100%;
  border-radius: 5px;
}

.submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.submit-button p {
  margin-top: 2em;
  padding: 5px;
  text-align: center;
}
.submit-button input {
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
aside h2 {
  text-shadow: 2px 2px 5px rgb(255, 145, 0);
  border-bottom: 1px dotted red;
  margin-bottom: 5px;
}
form input[type="text"],
.submit-button input {
  box-shadow: 5px 5px 5px gray;
}
nav li a.active {
  color: blue;
}
.rotate:hover {
  transform: rotate(20deg);
}
